<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" 
      throwExceptions="true" 
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <!-- Log Levels (in order: Fatal, Error, Warn, Info, Debug, Trace, Off) -->
  <targets async="true">
    <target name="debugger" type="Debugger" header="===== ${date:format=ddd, dd MMM yyyy} ${time} =====" layout="${date} | ${logger} | ${level} | ${message} | ${onexception:${exception:format=tostring} | ${stacktrace:format=DetailedFlat}}" footer="===== end of session ===== ${newline}" />
  </targets>

  <rules>
    <logger name="TLMS.*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>